@import url('./typography.css');

:root {
  --neutral-0: #282931;
  --neutral-1: #595F82;
  --neutral-2: #313161;
  --neutral-3: #B6BEE3;
  --neutral-4: #DEE3F0;
  --neutral-5: #B5BDDE;

  --primary-color: #88A7FE;
  --primary-lighter: #B4BBDF;
  --primary-color-light: #AEC4FF;
  --primary-color-medium:#3F5892;
  --primary-color-dark: #4A699D;
  --primary-color-text: #ffffff;
  --text-on-primary: #ffffff;
  --secondary-color: #FD8358;
  --secondary-color-medium: #8A4433;
  --secondary-color-light: #FF8459;
  --secondary-color-dark: #3F0D0D;
  --secondary-color-text: #ffffff;
  --victory-light: #FFFD3E;
  --victory-secondary: #FADC2E;
  --victory-color: #FFD74A;
  --defeat-color: #FF6B6B;
  --header-dark: #1D2029;
  --header: #1D2029;
  --disabled-color: #666666;
  --error-color: #b00020;
  --background-color: #171717;
  --discord-color: #7289da;

  --success-color: #4caf50;
  
  --border-radius-small: 4px;
  --border-radius: 6px;
  --border-radius-large: 8px;

  --match-table-row-team: 136, 167, 254;
  --match-table-row-oponent: 138, 68, 51;

  --ant-switch-handle: #ffffff;
  --ant-switch-handle-checked: #ffffff;
}

button {
  padding: 0;
  border: none;
}

button:focus {
  outline: none;
}

.is-hidden {
  display: none;
}

.is-wrap {
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.is-flex {
  display: flex;
}

.is-flex-direction-column {
  flex-direction: column;
}
.is-flex-direction-row {
  flex-direction: row;
}

.is-justify-content-flex-end {
  justify-content: flex-end;
}

.is-full-width {
  width: 100%;
}

.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}